# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Marc Fabian Mezger
	email = 57255687+mfmezger@users.noreply.github.com
[init]
    defaultBranch = main
[pull]
    rebase = false
[push]
    # Automatically set origin as the remote for current branch
    autoSetupRemote = true

[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[include]
    path = ~/.gitconfig.local
